APP_NAME=DocSuite API
DEBUG=false
DATABASE_URL=postgresql+psycopg://postgres:<PASSWORD>@localhost:5432/DocSuit
JWT_SECRET_KEY=change-me
OPENAI_API_KEY=<OPENAI_API_KEY>
OPENAI_MODEL=gpt-4o
HF_TOKEN=<HUGGINGFACE_READ_TOKEN>
WHISPER_MODEL=large-v3
PYANNOTE_MODEL=pyannote/speaker-diarization-community-1
